@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* reset de estilos, XD */
}

body {
    font-family: 'Rubik Mono One';
}

header {
    background-color: rgb(41, 41, 41);
    color: white;
    padding-top: 20px; /* espaçamento interno superior */
    padding-bottom: 20px; /* espaçamento interno inferior */
    padding-left: 20px; /* espaçamento interno esquerdo */
    padding-right: 20px; /* espaçamento interno direito */
    text-align: center;
}

header h1 {
    margin-bottom: 50px;
    font-style: Arial;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    background-color: red;
    padding: 5px 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li {
    transition: transform 0.2s;
}

nav li:hover {
    background-color: brown;
    transform: scale(1.2);
}

[class*="col-"]{
    float: left; padding-right: 10px;
}
.col-1 {    width: 8.33%;}
.col-2 {    width: 16.66%;}
.col-3 {    width: 24.99;}
.col-4 {    width: 33.32%;}
.col-5 {    width: 41.65%;}
.col-6 {    width: 49.98%;}
.col-7 {    width: 58.31%;}
.col-8 {    width: 66.64%;}
.col-9 {    width: 74.94%;}
.col-10 {    width: 83.27%;}
.col-11 {    width: 91.6%;}
.col-12 {    width: 100%;}


.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

#parceiros {
    background-color: #777;
}

#parceiros img {
    height: 500px;
    object-fit: contain;
}













